[general]
#import = [
#   "~/.config/alacritty/catppuccin_mocha.toml",
#]
live_config_reload = true

[env]
TERM = "xterm-256color"

[font]
size = 15

[font.normal]
family = "Agave Nerd Font"
style = "Mono"

[font.bold]
family = "Agave Nerd Font"
style = "Mono"

[font.italic]
family = "Agave Nerd Font"
style = "Mono"

[window]
decorations = "buttonless"
blur = true
dynamic_padding = false
opacity = 0.9
dynamic_title = false
resize_increments = true

[window.dimensions]
columns = 132
lines = 60

[window.position]
x = 1800
y = 160

[window.padding]
x = 0
y = 0

[mouse]
bindings = [
{ mouse = "Right", mods = "Control", action = "Paste"},
]

[keyboard]
bindings = [
{ key = "N", mods = "Control|Shift", action = "CreateNewWindow" },
{ key = "C", mods = "Super", action = "Copy" },
{ key = "V", mods = "Super", action = "Paste" },
]

[scrolling]
history = 100000
multiplier = 5

[colors.primary]
background = "#1e1e2e"
foreground = "#cdd6f4"
dim_foreground = "#7f849c"
bright_foreground = "#cdd6f4"

[colors.cursor]
text = "#1e1e2e"
cursor = "#f5e0dc"

[colors.vi_mode_cursor]
text = "#1e1e2e"
cursor = "#b4befe"

[colors.search.matches]
foreground = "#1e1e2e"
background = "#a6adc8"

[colors.search.focused_match]
foreground = "#1e1e2e"
background = "#a6e3a1"

[colors.footer_bar]
foreground = "#1e1e2e"
background = "#a6adc8"

[colors.hints.start]
foreground = "#1e1e2e"
background = "#f9e2af"

[colors.hints.end]
foreground = "#1e1e2e"
background = "#a6adc8"

[colors.selection]
text = "#1e1e2e"
background = "#f5e0dc"

[colors.normal]
black = "#45475a"
red = "#f38ba8"
green = "#a6e3a1"
yellow = "#f9e2af"
blue = "#89b4fa"
magenta = "#f5c2e7"
cyan = "#94e2d5"
white = "#bac2de"

[colors.bright]
black = "#585b70"
red = "#f38ba8"
green = "#a6e3a1"
yellow = "#f9e2af"
blue = "#89b4fa"
magenta = "#f5c2e7"
cyan = "#94e2d5"
white = "#a6adc8"

[colors.dim]
black = "#45475a"
red = "#f38ba8"
green = "#a6e3a1"
yellow = "#f9e2af"
blue = "#89b4fa"
magenta = "#f5c2e7"
cyan = "#94e2d5"
white = "#bac2de"

[[colors.indexed_colors]]
index = 16
color = "#fab387"

[[colors.indexed_colors]]
index = 17
color = "#f5e0dc"
